
.profile{
    background-color: red;
    color:white;
    height: 50px;
    line-height: 50px;
    width: 50px;
    margin-left: 43%;

}
.userlist{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 8%;
}
.details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation{
    
    top:0;
    width: 100%;
    overflow-y: hidden;
}


#usersnav{
    color: rgb(163, 25, 25);
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}